 .card{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  list-style: none;
}



 .character-card{
  box-shadow: 2px 2px 8px rgba(244, 239, 239, 0.2);
  border-radius: 5px;
  padding: 10px;
  height: 100%;
} 

.character-card img{
  width: 100%;
}

